WORKFLOW/AI Document Summarization & Email Delivery Automation.json
{
  "name": "AI Document Summarization & Email Delivery Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PDF ACCEPTANCE",
        "formDescription": "PDF ACCEPTANCE FORM",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Enter the email to receive summary",
              "fieldType": "email"
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "0e9f1f30-3cce-4b7f-84e0-2c51ac4a20fd",
      "name": "On form submission",
      "webhookId": "35cde1f4-41aa-49c2-87b8-1034619a38b3"
    },
    {
      "parameters": {
        "resource": "extract",
        "binaryPropertyName": "=data",
        "docName": "={{ $json.data[0].filename }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdf4me.PDF4me",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "575ac614-3c0d-4b1b-9598-584d57014928",
      "name": "Extract resources",
      "credentials": {
        "pdf4meApi": {
          "id": "DROelDg7fTTEwIkH",
          "name": "PDF4ME account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI document summarizer.\n\nRead the document carefully and summarize it.\n\nReturn the response in the following format:\n\n📄 AI Document Summary\n\nSummary\n<2-3 sentence summary>\n\nKey Points\n• Point 1\n• Point 2\n• Point 3\n\nImportant Decisions\n• Decision 1\n• Decision 2\n\nAction Items\n• Action 1\n• Action 2\n\nConclusion\n<1 sentence conclusion>\n\nRules:\n- Use plain text only.\n- Leave one blank line between sections.\n- Use bullet points.\n- Keep the summary concise.\n- Do not use Markdown symbols like ** or #.\n- Do not return JSON.\n- Do not explain your reasoning.\n{{ $json.texts }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "741b7f0b-b329-4e87-8f32-1fcdf7113949",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "9dc497fd-9c3d-4e3f-98d6-b4b9d2fd1858",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "S56bwQpS4qdK57Gu",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter the email to receive summary'] }}",
        "subject": "=AI Summary -  {{ $('On form submission').item.json.data[0].filename }}",
        "emailType": "text",
        "message": "=Document Name:\n{{ $('On form submission').item.json.data[0].filename }}\nProcessed On:\n{{ $now.toFormat('dd-MM-yyyy') }}\n\n{{ $json.output }} ────────────────────────\n\nGenerated by AI Document Summarization System\n\nGenerated by AI Document Summarization System\n\nBuilt with ❤️ using n8n & Groq",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "98682b77-8b23-4c26-848d-59b41a04ee33",
      "name": "Send a message",
      "webhookId": "1e2459c4-9c48-4582-a50a-00c777f5c892",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "s2Xpo6bQ6Rar5YSc",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract resources": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "50ba04ed-51e6-43cb-8141-68b33f7750c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "514e37121ed93fab39003008eb347c8c7abd65c0be84a7e168b982d6c27c7605"
  },
  "nodeGroups": [],
  "id": "qrG5rY9JEcXrCZBJ",
  "tags": []
}